<div id='setting_authentications'>
  <% if @authentications %>
    <% unless @authentications.empty? %>
      <p><strong>You can sign in to this account using:</strong></p>
      <div class='authentications'>
        <% @authentications.each do |authentication| %>
          <div class='authentication'>
            <%= image_tag "/assets/#{authentication.provider}_32.png", :size => "32x32" %>
            <div id='info'>
              <div class='provider'><%= authentication.provider.titleize %></div>
              <div class='uid'><%= authentication.uid %></div>
            </div>
            <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => 'remove' %>
          </div>
        <% end %>
        <div class='clear'></div>
      </div>
    <% end %>
    <p><strong>Add another services to sign in with:</strong></p>
  <% else %>
    <p><strong>Sign in / Sign up through one of these services:</strong></p>
  <% end %>
  <% if has_not_account? :facebook %>
    <div class='soc_provider'>
      <a href="/auth/facebook" class='auth_provider'>
        <%= image_tag "/assets/facebook_64.png", :size => "64x64", :alt => "Facebook" %><br />
        Facebook
      </a>
    </div>
  <% end %>
  <% if has_not_account? :google %>
    <div class='soc_provider'>
      <a href="/auth/google_oauth2" class='auth_provider'>
        <%= image_tag "/assets/google_64.png", :size => "64x64", :alt => "Google" %><br />
        Google
      </a>
    </div>
  <% end %>

  <div class='clear'></div>
  <% if current_user %>
    <p><br><p>
    <h4>Delete your account</h4>
    Delete your account and all associated data -  <%#= link_to image_tag("delete_button.png"), user_delete_path(current_user), :class => 'opcy' %><%= link_to image_tag("delete_button.png"), user_path(current_user), :method => :delete, :confirm => t(:confirm_acc_deletion), :class => 'opcy' %>
  <% end %>
</div>
<div id='setting_language'>
  <% if current_user %>
    <ul id='ddmenu'>
      <li style='min-width:130px'>
        <a href="#" id='user'><img src="/assets/language/<%= session[:locale] %>.png"> <span id ='btn'><%= image_tag '/assets/maket/ddmenu_arrow.png' %></span></a>
        <ul>
          <li id='first'><a href="<%= settings_path(:locale => :ru) %>"><img src="/assets/language/ru.png"> Язык</a></li>
          <li><a href="<%= settings_path(:locale => :en) %>"><img src="/assets/language/en.png"> Language</a></li>
          <li><a href="<%= settings_path(:locale => :de) %>"><img src="/assets/language/de.png"> Sprache</a></li>
          <li><a href="<%= settings_path(:locale => :it) %>"><img src="/assets/language/it.png"> Lingua</a></li>
          <li><a href="<%= settings_path(:locale => :es) %>"><img src="/assets/language/es.png"> Idioma</a></li>
          <li><a href="<%= settings_path(:locale => :cn) %>"><img src="/assets/language/cn.png"> 語</a></li>
          <li><a href="<%= settings_path(:locale => :pl) %>"><img src="/assets/language/pl.png"> Język</a></li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>