   <% if @list_item %>
   <%=  form_for @list_item, :id => "list_item_form", :remote => false do |f|%>
  <div class='row-fluid noFocus'>
  <div class='span9 list_item_title noFocus'>  
  <%=  f.text_field :title, :value => @list_item.title, :class => "noFocus", :id =>  'list_item_title'  %><br>
  <font id='list_item_name' class=''><%= @list_item.user.profile.fname %></font>
</div>
<div class='span3'>
  <div class='pull-right' id='buttons'>
    
  <%= image_submit_tag("save.png") %>
 
  <%= link_to ''.html_safe + image_tag("cancel.png"), list_item_path(@list_item), :remote => true,
  :class => 'btn btn-link' %>
</div><br>
<span class='pull-right'>
   <font id='list_item_name'><%= l @list_item.created_at %></font>
</span>
</div>
</div>

  <div class='row-fluid '>
    <div class='span12 '>
      <div id='list_item_des'>
  <%= f.text_area :description, :class => "noFocus", :id => 'list_item_des' %>
</div>
    </div>
</div>

<div class='row-fluid '>
	  <div id='list_item_images'>
  <% if @list_item.images %>
   <% if @list_item.images.size != 0 %>
  <% @list_item.images.each do |image| %>
    <%= link_to image_tag(image.image.url(:thumb)), list_item_image_path(image.list_item_id, :id=>image.id)  if image.image.url.index('missing.png') == nil %>
  <% end %>

<% end %>    

  <% end %>
   <%= image_tag("add_photo.png") %>
   </div>
     </div>
  <% end %>
  <% end %>

  <script>
$(document).ready(function(){
	
  	$('.edit_list_item') .bind('ajax:success', function(data, status, xhr) {
 alert(data)
alert(xhr)
alert(status)

	})
})
</script>