<%= form_for @new_list_item, :html => { :multipart => true } do |f| %>
<div class='bordered new_item_container'>
  <div class='new_item'>
  <%= f.text_field 'title', :class => "noFocus transparent_bg new_item_text",  :placeholder => t(:whats_up) + current_user.try(:profile).try(:fname) + "?" %>
  </div>
  <div class='new_li_submit'>
  <%= image_submit_tag("plus.png", :class => '' ) %>
</div> 
</div>
  <% if false %>
  <%= f.submit "Add to list", :disable_with => "Please wait...", :class => "btn btn-primary", :style => "margin-bottom:10px" %><br>
  <%= f.text_area 'description',  :placeholder => t(:tell_us_more), :class => 'tellusmore'%><br>
    Please attach images:
  <%= fields_for :images do |ff| %>

    <%= ff.file_field :image %>

  <% end %>
  <% end %>
<% end %>
