<%- model_class = ListItem -%>
<% if @new_list_item %>
  <script>
  $(function() {
    $("#sortable").sortable({
      stop: function( event, ui ) {
        var sortedIDs = $( "#sortable" ).sortable( "toArray" );

        var request = $.ajax({
          type: "GET",
          url: "http://watet.dvporg.com/list_items/sort",
          data: { order: sortedIDs },
          dataType: "HTML"
        })

        request.done(function(msg) {
        });

        request.fail(function(jqXHR, textStatus,errorThrown ) {
        });

      }

    });
    $( "#sortable" ).disableSelection();
  });
  </script>
<% end %>

<div class="row">
  <div id='banners' class='span2'>
    <% Banner.all.each do |banner| %>
      <p class='banner'><%= banner_image_url(banner) %></p>
    <% end %>
  </div>
  <div class='span8'>
    <h4 style='margin-left:20px;'><%= @user.try(:profile).try(:fname) %>'s list</h4>
    <%= render :partial => 'list_items/front_end_form' if @new_list_item %>
    <span id="sortable2">
      <% @list_items.each do |list_item| %>
        <div class="ui-state-default" id='<%= list_item.id %>'>
          <div class='hr'></div>
          <% if list_item.id != session[:open_edit] %>
            <div class="list_item li" id='li<%= list_item.id %>'>
              <%= render 'list_items/show' , list_item: list_item %>
            </div>
          <% else %>
            <div class='list_item_edit li' id='li<%= list_item.id %>'>
              <%= render 'list_items/edit' , :list_item => list_item  %>
              <% session.delete(:open_edit) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </span>

    <% if @new_list_item && @list_items.present? %>
      <!-- <div class="row-fluid"> -->
        <div id='email' class='span3 offset2' style='margin:0px auto;float:none;padding-top:20px;'>
          <div class='bordered'>
            <%= form_tag(send_list_items_path) do |f| %>
              <div class='row-fluid'>
                <div class='span12'>
                  <p style='width:86%;float:left;'><%= text_field_tag :email, "",:placeholder => t(:share_email)  ,:class => "noFocus transparent_bg send_email", :style => 'width:90%;' %></p>
                  <p style='margin:2px;'><%= image_submit_tag("letter.png", :class => 'new_li_submit' ) %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <!-- </div> -->
    <% end %>
  </div>
  <div id='friends' class='span2'>
    <% @friends.each do |friend| %>
      <a href="<%= user_path(friend.user) %>" id='<%= friend.id %>'>
        <p>
          <span class='friend_name'><%= friend.name %></span><br />
          <span class='friend_item'>
            <% last_title = friend.user.try(:list_items).order('priority DESC').limit(1).first.try(:title) %>
            <%= truncate( last_title, :length => 25) if last_title %>
          </span>
        </p>
      </a>
    <% end %>
  </div>

</div>

