<div id='logo'><%= link_to 'logo', root_path %> </div>

<ul id='ddmenu'>
  <% if current_user %>
    <li style='min-width:130px'>
      <a href="#" style='margin-right:20px' id='user'>Hi, <%= session[:soc_name] %>! <span id ='btn'><%= image_tag '/assets/maket/ddmenu_arrow.png' %></span></a>
      <ul>
        <li id='first'><a href="<%= link_to_page('conacts') %>"><%= image_tag '/assets/maket/contacts.png' %> Contacts</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/applications.png' %> Applications</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/menu.png' %> Menu</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/profile.png' %> Profile</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/settings.png' %> Settings</a></li>
        <span id='hr'><hr /><span>
        <li><%= link_to  image_tag('/assets/maket/sign.png') + "Sign out", destroy_user_session_path   %></li>
      </ul>
    </li>
  <% else %>
    <%= link_to 'SignIN', authentications_path, :id => 'user' %>
<<<<<<< HEAD
    <%#= link_to 'SignIN', new_user_session_path, :id => 'user' %>
=======
>>>>>>> 72042732c0626634756a6610a8ac48ae17cb53db
  <% end %>

</ul>
<div id='avatar'><%= get_avatar %></div>
<div class='clear'></div>
<hr />
