<div id='logo'><%= link_to 'logo', root_path %> </div>

<ul id='ddmenu'>
  <% if current_user %>
    <li style='min-width:130px'>
      <a href="#" style='margin-right:20px' id='user'>Hi, <%= current_user.try(:profile).try(:fname) %>! <span id ='btn'><%= image_tag '/assets/maket/ddmenu_arrow.png' %></span></a>
      <ul>
        <li id='first'><a href="<%= link_to_page('conacts') %>"><%= image_tag '/assets/maket/contacts.png' %> Contacts</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/applications.png' %> Applications</a></li>
        <li><a href="#"><%= image_tag '/assets/maket/menu.png' %> Menu</a></li>
        <li><a href="<%= profile_path(current_user.profile) %>"><%= image_tag '/assets/maket/profile.png' %> Profile</a></li>
        <li><a href="<%= authentications_path %>"><%= image_tag '/assets/maket/settings.png' %> Settings</a></li>
        <span id='hr'><hr /><span>
        <li><a href="<%= destroy_user_session_path %>"><%= image_tag '/assets/maket/sign.png' %> Sign out</a></li>
      </ul>
    </li>
  <% else %>
    <%= link_to 'SignIN', authentications_path, :id => 'user' %>
  <% end %>

</ul>
<div id='avatar'><%= get_avatar %></div>
<div class='clear'></div>
<hr />
