<!DOCTYPE html>
<html>
<head>
  <title>Tet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to 'Sign with social', authentications_path %>
  <% if current_user %>
    <%= link_to 'SignOUT', destroy_user_session_path, :method => :delete %>
    <p>Hi <%= session[:soc_name] %>(<%= session[:soc_email] %>)</p>
  <% else %>
    <%= link_to 'SignIN', new_user_session_path %>
    <%= link_to 'SignUP', new_user_registration_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
